<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <!--<meta http-equiv="refresh" content="5" />-->
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div id="header">
        <h1 style="text-align:center; font-size:300%;">Web App</h1>
    </div>

    <div id="body">
        @RenderBody()
    </div>

    <div id="footer">
        <p style="text-align:center;"><small>Developed by Jacob Jonas</small></p>
    </div>

    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>