@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model DashboardModel;

}

<div id="clientsDIV">
    <h2 style="text-align:center;">Connected Clients</h2>
    <p style="text-align:center;"> ip address | port | jobs completed</p>
    <div id="clientstable">
        <table style="margin-left:auto; margin-right:auto;">
            @foreach (var client in Model.Clients)
            {
                <tr>
                    <td>| @client.Host</td>
                    <td>| @client.Port</td>
                    <td>| @client.CompletedJobs</td>
                </tr>
            }
        </table>
    </div>
</div>

